django==4.2.7
uwsgi  # Please uncomment this line when you try to deploy the project onto SECoder.
# Generally, when you get sudo permission in Unix systems, `pip install uwsgi` works, otherwise `conda install uwsgi` is recommended.

# pymysql
# mysqlclient==2.1.0

pytest
pytest-django
coverage
pymysql
mysqlclient
python-dotenv #环境变量
twilio
email-validator
pillow
channels==4.0.0
daphne==4.1.0
django-cors-headers==4.3.1
djangorestframework
